body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  max-height: 100vh;
  font-family: Arial, sans-serif; }

::-webkit-scrollbar {
  display: none; }

.example {
  margin: 0;
  padding: 0; }

#Toolbar {
  align-self: flex-end;
  padding-top: 15px; }

#languageDiv {
  display: flex;
  flex-direction: column; }

#appBar {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  z-index: 99;
  color: grey;
  position: absolute; }

#salsifi {
  position: fixed;
  bottom: 0; }

.carouselContainer {
  z-index: 0;
  position: absolute; }

.imgcarouselbackground {
  height: 100vh; }

/* FOOTER */
/**********/
#alertCookieContainer {
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999999;
  background-color: rgba(255, 255, 255, 0.75); }

#buttonCookie {
  margin: 15px; }

#paragrapheCookie {
  margin-left: 40%; }

@media screen and (max-width: 600px) {
  #paragrapheCookie {
    margin-left: 0; } }

/* HOME */
/********/
#homeContainer {
  display: flex;
  align-items: center;
  justify-content: center; }

#homeTextContainer {
  position: absolute;
  top: 23%; }

#HomeText {
  color: white;
  position: relative;
  left: 50%;
  width: 75vw;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  font-size: 6em;
  white-space: pre-wrap;
  margin-bottom: 30px; }

#HomeText2 {
  color: white;
  position: relative;
  left: 50%;
  width: 75vw;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  white-space: pre-wrap;
  font-size: 6em;
  margin-bottom: 25px; }

#HomeText3 {
  color: white;
  position: relative;
  left: 50%;
  width: 75vw;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  white-space: pre-wrap;
  font-size: 6em; }

#homebuttonContainer {
  position: absolute;
  left: 50%;
  top: 630px;
  transform: translate(-50%, -50%);
  z-index: 1;
  word-break: none; }

#homebuttonContainer button {
  margin-left: 0 !important;
  letter-spacing: 2.5px;
  margin-top: 15px; }

#Button1 {
  font-size: 1.5em;
  border-radius: 25px; }

#Button2 {
  font-size: 1em;
  border-radius: 25px;
  background: #202020;
  color: white; }

#homebuttonContainer a {
  color: white; }

.buttonHome {
  margin-top: 10% !important;
  width: 10vw;
  min-width: 185px !important; }

/***MEDIA QUERY HOMETEXT ***/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #HomeText {
    font-size: 5em;
    width: 90vw; }
  #HomeText2 {
    font-size: 5em; }
  #HomeText3 {
    font-size: 5em; }
  #homebuttonContainer {
    top: 610px; } }

@media screen and (min-width: 598px) and (max-width: 768px) {
  #HomeText {
    width: 95vw;
    font-size: 4.4em; }
  #HomeText2 {
    font-size: 4.5em; }
  #HomeText3 {
    font-size: 4.5em; }
  #homebuttonContainer {
    top: 580px; } }

@media screen and (min-width: 333px) and (max-width: 598px) {
  #HomeText {
    width: 96vw;
    transform: translate(-50%, -50%);
    font-size: 2.5em; }
  #HomeText2 {
    font-size: 3em; }
  #HomeText3 {
    font-size: 3em; }
  #homebuttonContainer {
    top: 500px; }
  #Button1 {
    font-size: 1.2em; }
  #Button2 {
    font-size: 1em; } }

@media screen and (min-width: 50px) and (max-width: 333px) {
  #HomeText {
    width: 96vw;
    transform: translate(-50%, -50%);
    font-size: 2em; }
  #HomeText2 {
    font-size: 2em; }
  #HomeText3 {
    font-size: 2em; }
  #homebuttonContainer {
    top: 450px; }
  #Button1 {
    font-size: 1.2em; }
  #Button2 {
    font-size: 1em; } }

/**********/
/* SIGNUP */
/**********/
#signupFormContainer {
  height: 100%;
  position: absolute;
  overflow: scroll !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

::-webkit-scrollbar {
  display: none; }

#formContainer {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 20px; }

.signupInputForm {
  margin: 0;
  padding: 0; }

#confirmationPasswordInput {
  width: 113%; }

#stepperSignup {
  display: flex;
  margin: auto;
  background-color: transparent;
  border-bottom: 1px solid #6d6666; }

@media screen and (max-width: 500px) {
  #stepperSignup {
    display: block;
    margin: auto; }
  .stepLabel {
    margin-bottom: 3px; } }

@media screen and (min-width: 1024px) and (max-width: 1930px) {
  #formContainer {
    height: 84%; } }

#imgSignin1 {
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%; }

#imgSignin2 {
  margin-bottom: 1%;
  margin-right: 1%;
  margin-top: 1%; }

#imgSignin3 {
  margin-right: 1%;
  margin-bottom: 1%; }

#imgSignin4 {
  margin-bottom: 1%;
  margin-right: 1%; }

.firstInput {
  width: 180px !important; }

#helperpassword {
  width: 56%; }

#divButtonSignup {
  border-top: 1px solid rgba(109, 102, 102, 0.75);
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px; }

.bbuton {
  width: 25% !important; }

#nextButtonSignup {
  color: #202020 !important;
  background-color: white; }

#backButtonSignup {
  background-color: #202020;
  color: white !important; }

.colorLabel {
  color: black !important; }

.colorLabel span span {
  color: black !important; }

#bite span svg {
  color: black; }

/*CONFIRMATION */
/***************/
#failConfirmation {
  position: absolute;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100vw;
  height: 13%;
  background-color: #3b0000;
  border-bottom: 2px solid grey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

#successConfirmation {
  position: absolute;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100vw;
  height: 10%;
  background-color: rgba(40, 182, 40, 0.904);
  border-bottom: 1px solid grey;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4em;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  display: flex;
  letter-spacing: 4px;
  justify-content: center;
  align-items: center; }

/* SIGNIN */
/**********/
.errorMessage {
  font-size: 1.3em;
  font-family: Arial;
  margin: 0;
  padding: 5px;
  background: #f44336; }

img {
  background-position: center center;
  background-attachment: fixed; }

.MuiInput-underline.Mui-error {
  transform: scaleX(1);
  border-bottom-color: red !important; }

.MuiInput-underline {
  transform: scaleX(1);
  border-bottom-color: #303f9f !important; }

.MuiFormLabel-root {
  color: #303f9f; }

#signinFormContainer {
  position: absolute;
  border-radius: 20px;
  height: 20vw;
  max-height: 350px;
  min-height: 270px;
  width: 30vw;
  max-width: 500px;
  min-width: 390px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%); }

@media screen and (min-width: 370px) and (max-width: 598px) {
  #signinFormContainer {
    position: absolute;
    border-radius: 20px;
    height: 20vw;
    max-height: 350px;
    min-height: 270px;
    width: 30vw;
    max-width: 500px;
    min-width: 355px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%); } }

@media screen and (max-width: 370px) {
  #signinFormContainer {
    min-width: 310px; } }

#signinForm {
  background: #202020;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 10px;
  padding-bottom: 29px; }

#connexionWordForm {
  background-color: rgba(255, 255, 255, 0.85);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px; }

#connexionWord {
  color: #202020;
  font-weight: bold;
  font-size: 2.2em;
  text-transform: uppercase;
  letter-spacing: 5px; }

#SigninForgot {
  display: block;
  padding-top: 15px;
  margin-bottom: 0;
  font-size: 0.9em;
  color: #0366d6;
  text-decoration: none;
  font-family: arial; }

#InputLabelConnexion {
  font-size: 1.1em;
  margin-top: 0px; }

#buttonConnexion {
  font-size: 1.1em;
  margin-top: 20px !important; }

#pseudomailInput {
  font-size: 1.7em;
  width: 17vw;
  max-width: 320px;
  min-width: 160px;
  padding: 12px;
  margin-bottom: 0px; }

#passwordInput {
  width: 17vw;
  min-width: 160px;
  max-width: 320px;
  font-size: 1.6em;
  padding: 12px;
  margin-top: 5px; }

#signinFormContainer input {
  color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  border: none; }

.imageSigninForm {
  width: 40%; }

.InputHiddenSigningForm {
  display: none; }

/************/
#HomeName {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2.2em;
  padding-top: 30px;
  padding-left: 44px; }

#MenuTestHome span svg {
  font-size: 1.94em;
  color: white; }

@media screen and (max-width: 370px) {
  #HomeName {
    font-size: 1.6rem; }
  #MenuTestHome span svg {
    font-size: 1.7em; } }

/* SETTINGS */
/* ******* */
.displayHidden {
  display: none !important; }

#merrorSettings {
  display: flex;
  justify-content: center; }

#settingsContainer {
  height: 100vh; }

.settingsFormContainer {
  color: white;
  display: flex;
  position: relative;
  min-height: 733px;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5); }

.switchSettings .MuiSwitch-track {
  background-color: white; }

.settingsInputFormPrivate {
  width: 210px !important; }

.settingsInputFormPublic {
  width: 180px !important; }

.settingsInputFormTags {
  width: 180px !important; }

.settingsInput input {
  color: white; }

.settingsInputForm label {
  color: white; }

.labelInputForm {
  color: white;
  font-size: 1.2rem !important; }

#buttonSettingsPublic button {
  display: flex;
  margin: auto;
  color: white;
  border-color: white; }

#formPublic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#formBio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.imageUserSettings {
  max-width: 25% !important;
  display: flex;
  margin: auto; }

#buttonSettingsPrivate button {
  display: flex;
  margin: auto;
  color: white;
  border-color: white; }

.verticalTabsSettings {
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  width: 450px;
  color: white;
  font-size: 2rem; }

#titleSettingsForm {
  z-index: auto;
  display: flex;
  position: absolute;
  left: 44%;
  color: white;
  justify-content: center; }

@media screen and (min-width: 768px) and (max-width: 1440px) {
  #titleSettingsForm {
    left: 41%; } }

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  #titleSettingsForm {
    left: 37%; } }

@media screen and (min-width: 425px) and (max-width: 768px) {
  #titleSettingsForm {
    left: 23%;
    top: 8%; } }

@media screen and (min-width: 375px) and (max-width: 425px) {
  #titleSettingsForm {
    left: 31%;
    top: 8%; } }

@media screen and (min-width: 375px) and (max-width: 425px) {
  #titleSettingsForm {
    left: 31%;
    top: 8%; } }

@media screen and (min-width: 320px) and (max-width: 375px) {
  #titleSettingsForm {
    left: 28%;
    top: 8%; } }

@media screen and (max-width: 320px) {
  #titleSettingsForm {
    left: 26%;
    top: 8%; } }

@media screen and (max-height: 1085px) {
  #titleSettingsForm {
    display: none; } }

.verticalTabsSettings div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center; }

.MuiTabs-indicator {
  background-color: white !important; }

.categorieSettings span {
  font-size: 1.1rem; }

#geoSettings {
  margin-top: 25px;
  margin-bottom: 11px; }

.buttonSettings {
  width: 100%; }

.labelTagsSettings {
  color: black; }

#settingsPublicButton {
  width: 100%; }

#tagsButtonSettings {
  margin-top: 20px;
  width: 100%; }

#contentSettingsForm0 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

#contentSettingsForm1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

#contentSettingsForm2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

#contentSettingsForm3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

#bite {
  width: 100%; }

#vertical-tabpanel-0 {
  z-index: 1; }

#vertical-tabpanel-1 {
  z-index: 1; }

#vertical-tabpanel-2 {
  z-index: 1; }

#vertical-tabpanel-3 {
  z-index: 1; }

.imageSettingsdiv {
  margin-bottom: 10px; }

.addImage {
  color: #0366d6; }

.removeImage {
  color: brown; }

.settingsImage {
  width: 200px; }

.inputImageSettingss {
  margin: auto; }

.hide {
  display: none; }

#imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.labelImage {
  display: flex;
  justify-content: center; }

.labelContainer {
  display: flex;
  justify-content: center; }

.buttonSendImage {
  margin-bottom: 22px !important;
  margin-top: -2px !important; }

.cursor {
  cursor: pointer; }

#settingsPage {
  background-color: #202020; }

/* RESET PASSWORD */
/* ******* */
#already {
  display: block;
  color: #202020;
  font-weight: bold;
  font-size: 0.65em;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 5px; }

#already a {
  color: #3f51b5;
  text-decoration: none; }

#buttonConnexionReset {
  font-size: 1.1em; }

.buttonHomeReset {
  margin-top: 5% !important;
  margin-bottom: 6% !important;
  width: 10vw;
  min-width: 185px !important; }

#connexionWordReset {
  font-family: Arial;
  color: #202020;
  font-weight: bold;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: justify;
  padding-bottom: 10px; }

#mailSend {
  font-family: Arial;
  color: #4caf50;
  font-weight: bold;
  font-size: 1.1em;
  margin: 5px;
  margin-top: -10px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  padding-bottom: 10px; }

#resetExplain {
  letter-spacing: 1.5px;
  font-size: 1em;
  font-family: Arial;
  margin-top: 6px;
  margin-bottom: 5px;
  padding: 0;
  color: rgba(255, 255, 255, 0.8); }

#signinFormReset {
  background: #202020;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 10px; }

#ResetFormContainer {
  position: absolute;
  border-radius: 20px;
  height: 20vw;
  max-height: 350px;
  min-height: 270px;
  width: 30vw;
  max-width: 500px;
  min-width: 390px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%); }

@media screen and (min-width: 370px) and (max-width: 598px) {
  #ResetFormContainer {
    min-width: 355px; } }

@media screen and (max-width: 370px) {
  #ResetFormContainer {
    min-width: 310px; } }

#ResetFormContainer input {
  color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  border: none;
  font-size: 1.4em; }

/**** MATCH ****/
#matchBack {
  background-color: #202020;
  height: 100vh;
  position: absolute;
  width: 100vw; }

#appStyle {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  overflow: auto;
  margin-top: -80px; }

.cardStyle {
  cursor: pointer;
  user-select: none;
  display: block;
  width: 360px;
  height: 460px;
  background-size: 400px 460px;
  background-position: center;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border: 2px solid #919191;
  top: auto;
  position: relative; }

.deckStyles {
  cursor: pointer;
  user-select: none;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 0; }

.cardStyle2 {
  background: pink;
  transform: rotate(5deg);
  position: absolute;
  display: block;
  width: 360px;
  height: 460px;
  background-size: 360px 460px;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border: 2px solid #919191;
  top: 0;
  left: 24px; }

.cardStyle3 {
  background-color: whitesmoke;
  display: block;
  position: absolute;
  width: 360px;
  height: 500px;
  margin-top: 10%;
  user-select: none;
  border-radius: 26px;
  border: 2px solid #919191;
  display: flex;
  align-items: center;
  justify-content: center; }

#wrapperStyle {
  position: relative;
  width: 360px;
  height: 460px;
  border-radius: 25px;
  top: auto;
  max-width: 360px; }

.deckStyles #actionsStyle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 110px;
  flex-wrap: wrap; }

.deckStyles #actionsStyle button {
  color: whitesmoke;
  width: 173px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px; }

#blue {
  background: #2196f3; }

#red {
  background: #f50057; }

#descriptionPeople {
  position: relative;
  width: 335px;
  height: 70px;
  background: rgba(255, 255, 255, 0.95);
  padding-top: 10px;
  padding-left: 25px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  border-right: 2px solid #919191;
  border-left: 2px solid #919191;
  border-bottom: 2px solid #919191;
  z-index: 1;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  color: #494949;
  font-family: monospace; }

#descriptionPeople2 {
  position: absolute;
  transform: rotate(5deg);
  margin-top: 3px;
  top: 100%;
  width: 335px;
  height: 70px;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 10px;
  padding-left: 25px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  border-right: 2px solid #919191;
  border-left: 2px solid #919191;
  border-bottom: 2px solid #919191;
  z-index: -1;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  color: #494949;
  font-family: monospace; }

#ToolFilter {
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto; }

#ToolFilter button {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

#MenuFilter span svg {
  font-size: 1.8em;
  color: #545454; }

@media screen and (min-width: 415px) and (max-width: 450px) {
  #appStyle {
    margin-top: -50px; }
  .containerCard {
    flex-direction: column;
    align-items: flex-start; }
  .cardStyle {
    width: 330px;
    height: 430px; }
  .cardStyle2 {
    width: 330px;
    height: 430px;
    left: 35px; }
  #descriptionPeople {
    padding-left: 15px;
    width: 315px;
    font-size: 1.85em;
    height: 65px; }
  #descriptionPeople2 {
    left: 13px;
    padding-top: 10px;
    padding-left: 15px;
    width: 315px;
    margin-top: -27px;
    height: 65px; }
  .deckStyles #actionsStyle {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    flex-wrap: wrap; }
  .deckStyles #actionsStyle button {
    color: whitesmoke;
    width: 158px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 10px; }
  #blue {
    margin-right: 15px; }
  #red {
    margin-left: 15px; }
  #ToolFilter {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto; }
  #ToolFilter button {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important; }
  #MenuFilter span svg {
    font-size: 1.7em;
    color: #545454; } }

@media screen and (max-width: 415px) {
  #appStyle {
    margin-top: -50px; }
  .containerCard {
    flex-direction: column;
    align-items: flex-start; }
  .cardStyle {
    width: 300px;
    height: 380px;
    margin-top: 30px; }
  .cardStyle2 {
    width: 300px;
    height: 380px;
    left: 45px;
    margin-top: 30px; }
  #descriptionPeople {
    font-size: 1.7em;
    padding-left: 15px;
    width: 285px;
    height: 60px; }
  #descriptionPeople2 {
    left: 25px;
    padding-top: 10px;
    padding-left: 15px;
    width: 285.5px;
    margin-top: -47px;
    height: 60px;
    font-size: 1.7em; }
  .deckStyles #actionsStyle {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap; }
  .deckStyles #actionsStyle button {
    color: whitesmoke;
    width: 144px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px; }
  #blue {
    margin-right: 29px; }
  #red {
    margin-left: 29px; }
  #ToolFilter {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto; }
  #ToolFilter button {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important; }
  #MenuFilter span svg {
    font-size: 1.7em;
    color: #545454; } }

#menu-page .MuiMenu-paper {
  text-align: center !important;
  align-content: center !important; }

.MuiSlider-thumb {
  width: 15px !important;
  height: 15px !important;
  margin-top: -6px !important; }

#ageSlider, #tagsSlider {
  margin-top: 10px; }

#ageSlider .MuiSlider-root {
  color: #2b98f0 !important;
  width: 90% !important; }

#popSlider .MuiSlider-root {
  color: #4caf50 !important;
  width: 90% !important; }

#localSlider .MuiSlider-root {
  color: #f2105a !important;
  width: 170% !important;
  margin-left: -30px !important;
  margin-bottom: -10px !important;
  margin-top: -10px !important; }

#localSlider .MuiGrid-spacing-xs-2 > .MuiGrid-item {
  margin: 13px !important;
  margin-top: 7px !important;
  padding: 8px; }

#input-slider {
  position: relative;
  width: 250px;
  align-content: center;
  text-align: center; }

/* MYPROFILE */
/************/
#historyIcon {
  height: fit-content;
  border: none;
  outline: none;
  background: none;
  position: absolute;
  left: 37%;
  cursor: pointer;
  color: white; }

#historyContainer {
  position: absolute;
  display: flex;
  top: 42%;
  left: 42%;
  width: 475px;
  height: 263px;
  flex-direction: column;
  justify-content: center;
  background-color: #202020;
  border: 2px solid white;
  align-items: center;
  margin: auto;
  border-radius: 18px;
  color: white;
  outline: none; }

#h1history {
  margin: auto; }

#h1Content {
  margin: auto; }

#historyIcon svg {
  font-size: 2.6rem; }

#connectedFalse {
  color: red; }

#connectedTrue {
  color: green; }

#geoContainer {
  display: flex;
  justify-content: space-evenly; }

#genreContainer {
  display: flex;
  margin-left: -20px;
  justify-content: space-evenly; }

#tipsGenre {
  width: fit-content;
  margin-top: 28px; }

#tagsCont {
  margin-left: 15px; }

#tipsTarget {
  width: fit-content;
  margin-top: 28px; }

#tipsGeo {
  width: fit-content;
  margin-top: 28px; }

#tipsPseudo {
  width: fit-content;
  margin-top: 28px; }

#pseudoContainer {
  display: flex;
  justify-content: space-evenly;
  margin-left: -15px; }

#targetContainer {
  display: flex;
  justify-content: space-evenly; }

.dividerProfil {
  height: 5px;
  background-color: grey !important; }

#sexualContainerProfile {
  display: flex;
  width: fit-content;
  justify-content: center; }

#pseudoContainerProfile {
  display: flex;
  justify-content: center; }

#bioContainer {
  word-break: break-all;
  padding: 30px; }

#titleTags {
  display: flex;
  justify-content: center; }

#tagsSpan {
  display: flex;
  width: 85%;
  justify-content: center;
  margin: auto !important; }

#titleBio {
  display: flex;
  justify-content: center;
  margin-top: 0; }

.hash {
  color: #f2105a; }

#genderContainerProfile {
  display: flex;
  justify-content: center; }

#cityContainerProfile {
  display: flex;
  justify-content: center; }

#nameContainerProfile {
  display: flex;
  justify-content: center; }

.h1Target {
  margin-top: 22px; }

#avatarContainerProfile {
  display: flex;
  justify-content: center; }

#avatarProfile {
  width: 170px;
  height: 170px;
  margin-top: 23px; }

.h1Profile {
  font-size: 1.5rem; }

#myProfileContainer {
  color: white;
  background-color: #242424;
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 74%;
  max-height: 74%;
  border: 2px solid white;
  border-radius: 20px; }

#infosMyProfile {
  border-right: 2px solid white; }

#imageMyProfile {
  margin: auto; }

/* OTHERPROFILE */
/***************/
#reportIcon {
  position: absolute;
  background: none;
  border: none;
  color: white;
  margin: 1%;
  cursor: pointer;
  outline: none; }

#reportIcon svg {
  font-size: 2.8rem; }

#likeIcon {
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
  margin-left: 65%;
  outline: none; }

#likeIcon svg {
  font-size: 2.8rem;
  margin-left: 1%; }

.noLike {
  cursor: pointer;
  color: white; }

.iLike {
  cursor: pointer;
  color: red; }

.shelikeAndNotMe {
  cursor: pointer;
  color: white; }

.twoLike {
  cursor: pointer;
  color: red; }

#blockIcon {
  cursor: pointer;
  position: absolute;
  background: none;
  border: none;
  color: white;
  outline: none;
  margin: 1.1% 1% 1% 19%; }

#blockIcon svg {
  font-size: 2.8rem; }

#reportContainer {
  position: absolute;
  display: flex;
  top: 42%;
  left: 42%;
  width: 475px;
  height: 263px;
  flex-direction: column;
  justify-content: center;
  background-color: #202020;
  border: 2px solid white;
  align-items: center;
  margin: auto;
  border-radius: 18px;
  color: white;
  outline: none; }

#h1Report {
  margin: auto; }

#contentReport {
  margin: auto; }

#buttonReport {
  margin: auto; }

#buttonReport {
  width: 45%;
  height: 43px;
  display: flex;
  justify-content: space-evenly; }

#buttonYesReport {
  width: 45%;
  height: 100%; }

#buttonNoReport {
  width: 45%;
  height: 100%; }

#blockContainer {
  position: absolute;
  display: flex;
  top: 42%;
  left: 42%;
  width: 475px;
  height: 263px;
  flex-direction: column;
  justify-content: center;
  background-color: #202020;
  border: 2px solid white;
  align-items: center;
  margin: auto;
  border-radius: 18px;
  color: white;
  outline: none; }

#h1Block {
  margin: auto; }

#contentBlock {
  margin: auto; }

#buttonBlock {
  margin: auto; }

#buttonBlock {
  width: 45%;
  height: 43px;
  display: flex;
  justify-content: space-evenly; }

#buttonYesBlock {
  width: 45%;
  height: 100%; }

#buttonNoBlock {
  width: 45%;
  height: 100%; }

#MenuNotif span svg {
  font-size: 1.94em;
  color: white; }
