body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  max-height: 100vh;
  font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.example{
  margin: 0;
  padding: 0
}

#Toolbar{
  align-self: flex-end;
  padding-top: 15px;
}

#languageDiv {
  display: flex;
  flex-direction: column
}

#appBar{
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  z-index: 99;
  color: grey;
  position: absolute;
}

#salsifi{
  position: fixed;
  bottom: 0;
}

.carouselContainer{
  z-index: 0;
  position: absolute;
}
// .carousel{
//     height: 100vh;
// }


// #tamere {
//     background-image: url(/../static/images/image1.jpg);
//     background-color: white;
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
// }

// #tonpere {
//     background-image: url(/../static/images/image2.jp);
//     background-color: white;
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
// }

.imgcarouselbackground{
  height: 100vh;
}

/* FOOTER */
/**********/

#alertCookieContainer{
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999999;
  background-color: rgba(255,255,255,0.75);
}

#buttonCookie{
  margin: 15px;
}



#paragrapheCookie{
  margin-left: 40%;
}

@media screen and (max-width: 600px) {
  #paragrapheCookie{
    margin-left: 0;
  }
}
/* HOME */
/********/

#homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#homeTextContainer {
  position: absolute;
  top: 23%;
}


#HomeText {
  color: white;
  position: relative;
  left: 50%;
  width: 75vw;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  font-size: 6em;
  white-space: pre-wrap;
  margin-bottom: 30px;
}

#HomeText2 {
  color: white;
  position: relative;
  left: 50%;
  //top: 31%;
  width: 75vw;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  white-space: pre-wrap;
  font-size: 6em;
  margin-bottom: 25px;
}
#HomeText3 {
  color: white;
  position: relative;
  left: 50%;
  // top: 42%;
  width: 75vw;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  white-space: pre-wrap;
  font-size: 6em;
}

#homebuttonContainer{
    position: absolute;
    left: 50%;
    top: 630px;
    transform: translate(-50%, -50%);
    z-index: 1;
    word-break: none;
}

#homebuttonContainer button{
  margin-left: 0 !important;
  letter-spacing: 2.5px;
  margin-top: 15px;
}

#Button1 {
  font-size: 1.5em;
  border-radius: 25px;
}
#Button2 {
  font-size: 1em;
  border-radius: 25px;
  background: #202020;
  color: white;
}

#homebuttonContainer a{
  color: white;
}

.buttonHome{
  margin-top: 10% !important;
  width: 10vw;
  min-width: 185px !important;
}

/***MEDIA QUERY HOMETEXT ***/
@media screen and (min-width : 768px) and (max-width : 1024px) {
    #HomeText {
        font-size: 5em;
        width: 90vw;
    }
    #HomeText2 {
        font-size: 5em;
    }
    #HomeText3 {
        font-size: 5em;
    }
    #homebuttonContainer {
        top: 610px;
    }
}
@media screen and (min-width : 598px) and (max-width : 768px) {
    #HomeText {
        width: 95vw;
        font-size: 4.4em;
    }
    #HomeText2 {
        font-size: 4.5em;
    }
    #HomeText3 {
        font-size: 4.5em;
    }
    #homebuttonContainer {
        top: 580px;
    }
}
@media screen and (min-width : 333px) and (max-width : 598px) {
    #HomeText {
        width: 96vw;
        transform: translate(-50%, -50%);
        font-size: 2.5em;
    }
    #HomeText2 {
        font-size: 3em;
    }
    #HomeText3 {
        font-size: 3em;
    }
    #homebuttonContainer {
        top: 500px;
    }
    #Button1 {
        font-size: 1.2em;
    }
    #Button2 {
        font-size: 1em;
    }
}
@media screen and (min-width : 50px) and (max-width : 333px) {
    #HomeText {
        width: 96vw;
        transform: translate(-50%, -50%);
        font-size: 2em;
    }
    #HomeText2 {
        font-size: 2em;
    }
    #HomeText3 {
        font-size: 2em;
    }
    #homebuttonContainer {
        top: 450px;
    }
    #Button1 {
        font-size: 1.2em;
    }
    #Button2 {
        font-size: 1em;
    }
}


/**********/

/* SIGNUP */
/**********/

#signupFormContainer{
  height: 100%;
  position: absolute;
  overflow: scroll !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  display: none;
}

#formContainer{
  background-color: rgba(255,255,255,0.75);
  border-radius: 20px;
}

.signupInputForm
{

  margin: 0;
  padding: 0;

}
#confirmationPasswordInput{
  width: 113%;
}

#stepperSignup{
  display: flex;
  margin: auto;
  background-color: transparent;
  border-bottom: 1px solid rgba(109, 102, 102, 1);
}

@media screen and (max-width: 500px){
  #stepperSignup{
    display: block;
    margin: auto;
  }
  .stepLabel{
    margin-bottom: 3px;
  }

}

@media screen  and (min-width: 1024px) and (max-width: 1930px){
    #formContainer{
        height: 84%;
    };
}

#imgSignin1{
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}
#imgSignin2{
  margin-bottom: 1%;
  margin-right: 1%;
  margin-top: 1%;

}
#imgSignin3{
  margin-right: 1%;
  margin-bottom: 1%;
}
#imgSignin4{
    margin-bottom: 1%;
    margin-right: 1%;
}

.firstInput{
  width: 180px !important;
}
#helperpassword{
  width: 56%;
}

#divButtonSignup{

  border-top: 1px solid rgba(109, 102, 102, 0.75);
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.bbuton{
  width: 25% !important;
}
#nextButtonSignup{
  color: #202020 !important;
  background-color: white;
}
#backButtonSignup{
  background-color: #202020;
  color: white !important;
}
.colorLabel  {
  color: black !important;
}
.colorLabel span span {
  color: black !important;
}

#BigContSignin span svg {
  color: black;
}


/*CONFIRMATION */
/***************/

#failConfirmation{
  position: absolute;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100vw;
  height: 13%;
  background-color: rgb(59,0,0);
  border-bottom: 2px solid grey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#successConfirmation {
  position: absolute;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100vw;
  height: 10%;
  background-color: rgba(40, 182, 40, 0.904);
  border-bottom: 1px solid grey;
  color: rgba(255, 255, 255,0.80);
  font-size: 1.4em;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  display: flex;
  letter-spacing: 4px;
  justify-content: center;
  align-items: center;
}
/* SIGNIN */
/**********/
.errorMessage {
    font-size: 1.3em;
    font-family: Arial;
    margin: 0;
    padding: 5px;
    background: #f44336;
}
img {
  // background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.MuiInput-underline.Mui-error {
  transform: scaleX(1);
  border-bottom-color: red !important;
}

.MuiInput-underline {
  transform: scaleX(1);
  border-bottom-color: #303f9f !important;
}

.MuiFormLabel-root {
  color: #303f9f;
}

#signinFormContainer {
  position: absolute;
  border-radius: 20px;
  height: 20vw;
  max-height: 350px;
  min-height: 270px;
  width: 30vw;
  max-width: 500px;
  min-width: 390px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  //color: rgba(255, 255, 255, 0.80) !important;  //a modif pour kiffer
}
@media screen and (min-width : 370px) and (max-width : 598px) {
    #signinFormContainer {
        position: absolute;
        border-radius: 20px;
        height: 20vw;
        max-height: 350px;
        min-height: 270px;
        width: 30vw;
        max-width: 500px;
        min-width: 355px;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
         //color: rgba(255, 255, 255, 0.80) !important;  //a modif pour kiffer
    }
}
@media screen and (max-width: 370px) {
    #signinFormContainer {
        min-width: 310px;
    }
}

#signinForm {
  background: #202020;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 10px;
  padding-bottom: 29px;
}
#connexionWordForm {
  background-color: rgba(255, 255, 255, 0.85);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
}

#connexionWord {
  color: #202020;
  font-weight: bold;
  font-size: 2.2em;
  text-transform: uppercase;
  letter-spacing: 5px;
}
#SigninForgot {
  display: block;
  padding-top: 15px;
  margin-bottom: 0;
  font-size: 0.9em;
  color: #0366d6;
  text-decoration: none;
  font-family: arial;
}
#InputLabelConnexion {
  //color: rgba(255,255,255,0.75) !important;
  font-size: 1.1em;
  margin-top: 0px;
}


#buttonConnexion {
  font-size: 1.1em;
  margin-top: 20px !important;
}

#pseudomailInput{
  font-size: 1.7em;
  width: 17vw;
  max-width: 320px;
  min-width: 160px;
  padding: 12px;
  margin-bottom: 0px;
}
#passwordInput{
  width: 17vw;
  min-width: 160px;
  max-width: 320px;
  font-size: 1.6em;
  padding: 12px;
  margin-top: 5px;
}
#signinFormContainer input {
  color: rgba(255,255,255,0.75);
  //color: rgba(0,0,0,0.75);
  border-radius: 5px;
  border: none;
}


.imageSigninForm{
  width: 40%
}

.InputHiddenSigningForm{
  display: none
}
/************/

#HomeName{
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2.2em;
  padding-top: 30px;
  padding-left: 40px;
}
#MenuTestHome span svg{
    font-size: 1.94em;
    color:white;
}
#MenuNotif span svg{
  font-size: 1.54em;
  color:white;
}
@media screen and (max-width: 400px) {
    #HomeName{
      font-size: 1.6rem;
      padding-left: 25px;
    }
    #MenuTestHome span svg{
      font-size: 1.7em;
    }
    #MenuNotif span svg {
      font-size: 1.3em;
    }
}

/* SETTINGS */
/* ******* */

.displayHidden{
  display: none !important;
}

#merrorSettings{
  display: flex;
  justify-content: center;
}

#settingsContainer{
  height: 100vh;
}
.settingsFormContainer{
  color: white;
  display: flex;
  position: relative;
  min-height: 733px;
  background-color: rgba(0,0,0,0.45);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.5w);
}

.switchSettings .MuiSwitch-track{
  background-color: white;
}
.settingsInputFormPrivate{
  width: 210px !important;
}

.settingsInputFormPublic{
  width: 180px !important;
}
.settingsInputFormTags{
  width: 180px !important;
}

.settingsInput input{
  color: white;
}

.settingsInputForm{
  //width: 210px;
}
.settingsInputForm label{
  color: white;
}
.labelInputForm {
  color: white;
  font-size: 1.2rem !important;

}

#buttonSettingsPublic button {
  display: flex;
  margin: auto;
  color: white;
  border-color: white;
}
#formPublic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#formBio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageUserSettings{
  max-width: 25% !important;
  display: flex;
  margin: auto;
}

#buttonSettingsPrivate button{
  display: flex;
  margin: auto;
  color: white;
  border-color: white;
}

.verticalTabsSettings{

  border-right: 2px solid rgba(255,255,255,0.5);
  width: 450px;
  color: rgba(255,255,255, 1);
  font-size: 2rem;
}


#titleSettingsForm{
  z-index: auto;
  display: flex;
  position: absolute;
  left: 44%;
  color: white;
  justify-content: center;
}

@media screen and (min-width: 768px)and(max-width: 1440px ) {
  #titleSettingsForm {
    left: 41%;
  }
}

@media screen and (min-width: 1024px)and(max-width: 1440px ) {
  #titleSettingsForm {
    left: 37%;
  }
}
@media screen and (min-width: 425px ) and (max-width: 768px) {
  #titleSettingsForm {
    left: 23%;
    top: 8%;
  }
}

@media screen and (min-width: 375px ) and (max-width: 425px) {
  #titleSettingsForm {
    left: 31%;
    top: 8%;
  }
}
@media screen and (min-width: 375px ) and (max-width: 425px) {
  #titleSettingsForm {
    left: 31%;
    top: 8%;
  }
}
@media screen and (min-width: 320px ) and (max-width: 375px) {
  #titleSettingsForm {
    left: 28%;
    top: 8%;
  }
}
@media screen and (max-width: 320px) {
  #titleSettingsForm {
    left: 26%;
    top: 8%;
  }
}
@media screen and (max-height: 1085px) {
  #titleSettingsForm {
    display: none;
  }
}

.verticalTabsSettings div:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiTabs-indicator{
  background-color: white !important;
}
.categorieSettings span{
  font-size: 1.1rem;
}

#geoSettings{
  margin-top: 25px;
  margin-bottom: 11px;
}

.buttonSettings{
  width: 100%;
}
.labelTagsSettings{
  color: black;
}
#settingsPublicButton{
  width: 100%;
}

#tagsButtonSettings{
  margin-top: 20px;
  width: 100%;
}
#contentSettingsForm0{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#contentSettingsForm1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#contentSettingsForm2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#contentSettingsForm3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#BigContSignin {
  width: 100%;
}
#vertical-tabpanel-0{
  z-index: 1;
}
#vertical-tabpanel-1{
  z-index: 1;
}
#vertical-tabpanel-2{
  z-index: 1;
}
#vertical-tabpanel-3{
  z-index: 1;
}

.imageSettingsdiv{
  margin-bottom: 10px;
}

.addImage{
  color: #0366d6;
}
.removeImage{
  color: brown;
}
.settingsImage{
  width: 200px;
}
.inputImageSettingss{
  margin: auto;

}

.hide {
  display: none;
}
#imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.labelImage{
  display: flex;
  justify-content: center;
}

.labelContainer{
  display: flex;
  justify-content: center;
}

.buttonSendImage{
  margin-bottom: 22px !important;
  margin-top: -2px !important;
}

.cursor{
  cursor: pointer;
}

#settingsPage{
  background-color: #202020;
}
/* RESET PASSWORD */
/* ******* */

#already {
  display: block;
  color: #202020;
  font-weight: bold;
  font-size: 0.65em;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 5px;
}

#already a {
  color: #3f51b5;
  text-decoration: none;
}
#buttonConnexionReset {
  font-size: 1.1em;
}
.buttonHomeReset{
  margin-top: 5% !important;
  margin-bottom: 6% !important;
  width: 10vw;
  min-width: 185px !important;
}
#connexionWordReset {
  font-family: Arial;
  color: #202020;
  font-weight: bold;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 4px;
  // padding: 0px;
  text-align: justify;
  padding-bottom: 10px;
}
#mailSend {
  font-family: Arial;
  //color:  rgba(40, 182, 40, 0.945);
  color: #4caf50;
  font-weight: bold;
  font-size: 1.1em;
  margin: 5px;
  margin-top: -10px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  padding-bottom: 10px;
}
#resetExplain {
    letter-spacing: 1.5px;
    font-size: 1em;
    font-family: Arial;
    margin-top: 6px;
    margin-bottom: 5px;
    padding: 0;
    // color: #0560c2;
    color: rgba(255, 255, 255,0.80);
}
#signinFormReset {
  background: #202020;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 10px;
  // padding-bottom: 29px;
}

#ResetFormContainer {
  position: absolute;
  border-radius: 20px;
  height: 20vw;
  max-height: 350px;
  min-height: 270px;
  width: 30vw;
  max-width: 500px;
  min-width: 390px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  //color: rgba(255, 255, 255, 0.80) !important;  //a modif pour kiffer
}
@media screen and (min-width : 370px) and (max-width : 598px) {
    #ResetFormContainer {
        min-width: 355px;
    }
}
@media screen and (max-width : 370px) {
    #ResetFormContainer {
        min-width: 310px;
    }
}
#ResetFormContainer input {
  color: rgba(255,255,255,0.75);
  //color: rgba(0,0,0,0.75);
  border-radius: 5px;
  border: none;
  font-size: 1.4em;
}

/**** MATCH ****/

#matchBack {
  background-color: #202020;
  height: 100vh;
  position: absolute;
  width: 100vw;
}
#appStyle {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100vw;
    min-height: 100vh;
    font-family: sans-serif;
    overflow: auto;
    margin-top: -80px;
};
.cardStyle {
    // background: whitesmoke;
    cursor: pointer;
    user-select: none;
    display: block;
    width: 360px;
    height: 460px;
    background-size: 360px 460px;
    background-position: center;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    border: 2px solid rgb(145, 145, 145);//#838181d5;
    top: auto;
    position: relative;
}

.deckStyles{
    // background: whitesmoke;
    cursor: pointer;
    user-select: none;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 0;
}

.cardStyle2 {
    background: pink;
    transform: rotate(5deg);
    position: absolute;
    display: block;
    width: 360px;
    height: 460px;
    background-size: 360px 460px;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    border: 2px solid rgb(145, 145, 145);//#838181d5;
    top: 0;
    left: 24px;
}
.cardStyle3 {
  background-color: whitesmoke;
  display: block;
  position: absolute;
  width: 360px;
  height: 500px;
  margin-top: 10%;
  user-select: none;
  border-radius: 26px;
  border: 2px solid rgb(145, 145, 145);
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrapperStyle {
  position: relative;
  width: 360px;
  height: 460px;
  border-radius: 25px;
  top: auto;
  max-width: 360px;
}
.deckStyles #actionsStyle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 110px;
    flex-wrap: wrap;
    //margin-bottom: 200 !important;
}
.deckStyles #actionsStyle button {
    color: whitesmoke;
    //padding-left: 70px;
    //padding-right: 70px;
    width: 173px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    // margin-lef: 10px;
}

#blue {
  background: #2196f3;
}

#red {
  background: #f50057;
}
#descriptionPeople {
  position: relative;
  width: 335px;
  height: 70px;
  background: rgba(255, 255, 255,0.95);
  padding-top: 10px;
  padding-left: 25px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  border-right: 2px solid rgb(145, 145, 145);
  border-left: 2px solid rgb(145, 145, 145);
  border-bottom: 2px solid rgb(145, 145, 145);
  z-index: 1;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  color: rgb(73, 73, 73);
  font-family: monospace;
}
#descriptionPeople2 {
    position: absolute;
    transform: rotate(5deg);
    margin-top: 3px;
    top: 100%;
    width: 335px;
    height: 70px;
    background: rgba(255, 255, 255,0.9);
    padding-top: 10px;
    padding-left: 25px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    border-right: 2px solid rgb(145, 145, 145);
    border-left: 2px solid rgb(145, 145, 145);
    border-bottom: 2px solid rgb(145, 145, 145);
    z-index: -1;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    color: rgb(73, 73, 73);
    font-family: monospace;
}
#ToolFilter {
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
}
#ToolFilter button{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
#MenuFilter span svg{
    font-size: 1.8em;
    color: #545454;
}
#selectFilter {
  margin: auto;
}
@media screen and (min-width : 415px) and (max-width : 450px) {
    #appStyle {
        margin-top: -50px;
    }
    .containerCard {
        flex-direction: column;
        align-items: flex-start
    }
    .cardStyle {
        width: 330px;
        height: 430px;
    }
    .cardStyle2 {
        width: 330px;
        height: 430px;
        left: 35px;
    }
    #descriptionPeople {
        // left: 13px;
        // padding-top: 10px;
        padding-left: 15px;
        width: 315px;
        // margin-top: -29px;
        font-size: 1.85em;
        height: 65px;
    }
    #descriptionPeople2 {
        left: 13px;
        padding-top: 10px;
        padding-left: 15px;
        width: 315px;
        margin-top: -27px;
        height: 65px;
    }
    .deckStyles #actionsStyle {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        flex-wrap: wrap;
        //margin-bottom: 200 !important;
    }
    .deckStyles #actionsStyle button {
        color: whitesmoke;
        width: 158px;
        padding-top: 13px;
        padding-bottom: 13px;
        border-radius: 10px;
        // margin-lef: 10px;
    }
    #blue {
        margin-right: 15px;
    }

     #red {
         margin-left: 15px;
    }
    #ToolFilter {
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    #ToolFilter button{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    #MenuFilter span svg{
        font-size: 1.7em;
        color: #545454;
    }
}
@media screen and (max-width : 415px) {
    #appStyle {
        margin-top: -50px;
    }
    .containerCard {
        flex-direction: column;
        align-items: flex-start
    }
    .cardStyle {
        width: 300px;
        height: 380px;
        margin-top: 30px;
    }
    .cardStyle2 {
        width: 300px;
        height: 380px;
        left: 45px;
        margin-top: 30px;
    }
    #descriptionPeople {
        font-size: 1.7em;
        padding-left: 15px;
        width: 285px;
        height: 60px;
    }
    #descriptionPeople2 {
        left: 25px;
        padding-top: 10px;
        padding-left: 15px;
        width: 285.5px;
        margin-top: -47px;
        height: 60px;
        font-size: 1.7em;
    }
    .deckStyles #actionsStyle {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        flex-wrap: wrap;
        //margin-bottom: 200 !important;
    }
    .deckStyles #actionsStyle button {
        color: whitesmoke;
        width: 144px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 10px;
        // margin-lef: 10px;
    }
    #blue {
        margin-right: 29px;
    }

     #red {
         margin-left: 29px;
    }
    #ToolFilter {
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    #ToolFilter button{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    #MenuFilter span svg{
        font-size: 1.7em;
        color: #545454;
    }
}

#menu-page .MuiMenu-paper {
  text-align: center !important;
  align-content: center !important;
}
.MuiSlider-thumb {
  width: 15px !important;
  height: 15px !important;
  margin-top: -6px !important;
}
#ageSlider, #tagsSlider {
  margin-top: 10px;
}
#ageSlider .MuiSlider-root {
  color: rgb(43, 152, 240) !important;
  width: 90% !important;
}
#popSlider .MuiSlider-root {
  color: #4caf50 !important;
  width: 90% !important;
}
#localSlider .MuiSlider-root {
  color: rgb(242, 16,90) !important;
  width: 170% !important;
  margin-left: -30px !important;
  margin-bottom: -10px !important;
  margin-top: -10px !important;
}
#localSlider .MuiGrid-spacing-xs-2 > .MuiGrid-item {
  margin: 13px !important;
  margin-top: 7px !important;
  padding: 8px;
}
#input-slider {
  position: relative;
  width: 250px;
  align-content: center;
  text-align: center;
}

/* MYPROFILE */
/************/
#myProfileContainer{
  color: whitesmoke;
  background-color: rgba(36,36,36,1);
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 74%;
  max-height: 74%;
  border: 2px solid white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 15px;
}

#infosMyProfile{
  border-right: 2px solid whitesmoke;
  overflow: auto;
  margin-left: -55px;
}
#infosMyProfile2{
  border-right: 2px solid whitesmoke;
  overflow: auto;
}

#imageMyProfile{
  margin: auto;
}
#historyIcon{
  height: fit-content;
  border: none;
  display: inline-block;
  outline: none;
  background: none;
  position: relative;
  left: 0;
  cursor: pointer;
  color: whitesmoke;
}
#menuNotifPop {
  overflow: auto;
  margin: 15px;
  color: #202020;
}
.notifIn{
  color: rgb(242, 16,90);
}
#historyContainer{
  position: absolute;
  display: flex;
  overflow: auto;
  top: 25%;
  left: 25%;
  width: 475px;
  height: 263px;
  flex-direction: column;
  justify-content: center;
  background-color: #202020;
  border: 2px solid whitesmoke;
  align-items: center;
  margin: auto;
  border-radius: 18px;
  color: whitesmoke;
  outline: none;
}
#contentHistory {
  overflow: auto !important;
}
.notifItem {
  margin-top: 12px;
  margin-bottom: 5px;
}
#linksMyskurt {
  color: white;
}
.notifRelation {
  color: rgba(40, 182, 40, 0.904);
}
#h1history{
  margin: auto;
}

#h1Content{
  margin: auto;
}

#contentHistory{

}

#historyIcon svg {
  font-size: 2.6rem;
}

#connectedFalse{
  font-size: 0.8em;
  color: red;
}

#connectedTrue{
  font-size: 0.8em;
  color: green;
}

#geoContainer{
  display: flex;
  justify-content: space-evenly;
}

#genreContainer{
  display: flex;
  margin-left: -20px;
  justify-content: space-evenly;
}

#tipsGenre{
  width: fit-content;
  margin-top: 28px;
}

#tagsCont{
  margin-left: 15px;
  margin-bottom: 20px;
}

#tipsTarget{
  width: fit-content;
  margin-top: 28px;
}

#tipsGeo{
  width: fit-content;
  margin-top: 28px;
}

#tipsPseudo{
  width: fit-content;
  margin-top: 28px;
}
#pseudoContainer{
  display: flex;
  justify-content: space-evenly;
  // margin-left: -15px;
  flex-wrap: wrap;
  text-align: justify;
}
#targetContainer{
  display: flex;
  justify-content: space-evenly;
}
.dividerProfil {
  height: 5px;
  background-color: grey !important;
}
#sexualContainerProfile{
display: flex;
  width: fit-content;
  justify-content: center;
}
#pseudoContainerProfile{
  display: flex;
  justify-content: center;
}
#bioContainer{
  word-break: break-all;
  padding: 30px;
}
#bioContainerProfile{

}

#titleTags {
  display: flex;
  justify-content: center;
}
#tagsSpan{
  display: flex;
  width: 85%;
  justify-content: center;
  margin: auto !important;
}
#titleBio{
  display: flex;
  justify-content: center;
  margin-top: 0;
  width: 50px;
}

.hash{
  color: rgba(242,16,90,1);
}
#genderContainerProfile{
display: flex;
  justify-content: center;
}

#cityContainerProfile{
  display: flex;
  justify-content: center;
}
#nameContainerProfile{
  display: flex;
  justify-content: center;
}

.h1Target{
  margin-top: 22px;
}
#avatarContainerProfile{
  display: flex;
  justify-content: center;
}
#avatarProfile {
  width: 170px;
  height: 170px;
  margin-top: 23px;
}
#avatarProfile2 {
  width: 170px;
  height: 170px;
  margin-top: 23px;
}

.h1Profile{
  margin-top: 22px;
  font-size: 1.4rem;
}

@media screen and (max-width: 430px) {
  #avatarProfile {
    width: 80px;
    height: 80px;
  }
  #infosMyProfile {
    padding-right: 22px;
    padding-left: 22px;
    font-size: 15px;
    overflow: auto;
  }
   #avatarProfile2 {
    width: 80px;
    height: 80px;
  }
  .h1Profile{
    margin-top: 30px;
    margin-left: 1px;
    font-size: 0.8rem;
  }
  #historyIcon svg {
    font-size: 1.5rem;
  }

}
/* OTHERPROFILE */
/***************/

#reportIcon {
  position: relative;
  background: none;
  border: none;
  color: white;
  margin: 1%;
  margin-right: 0;
  cursor: pointer;
  outline: none;
  width: 50px;
}
#reportIcon svg{
  font-size: 2rem;
}
#blockIcon{
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
  color: white;
  outline: none;
  // margin: 4px 1% 1% 75%;
}
#blockIcon svg{
  font-size: 2rem;
}
#likeIcon{
cursor: pointer;
  position: relative;
  background: none;
  border: none;
  margin-left: 60%;
  outline: none;
}
#likeIcon svg{
  font-size: 2.2rem;
  margin-left: 1%;

}

.noLike{
  cursor: pointer;
  color: white;
}

.iLike{
  cursor: pointer;
  color: red;
}

.shelikeAndNotMe{
  cursor: pointer;
  color: white;
}

.twoLike{
  cursor: pointer;
  color: red;
}


#reportContainer {
  position: absolute;
  display: flex;
  top: 25%;
  left: 25%;
  width: 475px;
  height: 263px;
  flex-direction: column;
  justify-content: center;
  background-color: #202020;
  border: 2px solid white;
  align-items: center;
  margin: auto;
  border-radius: 18px;
  color: white;
  outline: none;
}

#h1Report{
  margin:auto;
}
#h1Report2{
  margin:auto;
}
#contentReport{
  margin: auto;
}
#buttonReport {
  margin: auto;
}

#buttonReport {
  width: 45%;
  height: 43px;
  display: flex;
  justify-content: space-evenly;
}

#buttonYesReport{
  width: 45%;
  height: 100%;
}
#buttonNoReport {
  width: 45%;
  height: 100%;
}

//
#blockContainer {
  position: absolute;
  display: flex;
  top: 25%;
  left: 25%;
  width: 475px;
  height: 263px;
  flex-direction: column;
  justify-content: center;
  background-color: #202020;
  border: 2px solid white;
  align-items: center;
  margin: auto;
  border-radius: 18px;
  color: white;
  outline: none;
}

#h1Block{
  margin:auto;
}

#contentBlock{
  margin: auto;
}
#buttonBlock {
  margin: auto;
}

#buttonBlock {
  width: 45%;
  height: 43px;
  display: flex;
  justify-content: space-evenly;
}

#buttonYesBlock{
  width: 45%;
  height: 100%;
}
#buttonNoBlock {
  width: 45%;
  height: 100%;
}
/****** SEARCH PAGE ******/
#searchContainer {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.containerCardSearch {
  margin: 10px;
  max-height: 260px;
}
#ToolFilterSearch {
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100vw;
  overflow: auto;
  position: relative;
  top: 10%;
  height: 10px;
}
#deckLists {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: auto;
  margin-top: 0px;
  width: 100vw;
  height: 70vh;
  overflow: scroll;
  position: relative;
}
#wrapperStyleSearch {
  display: inline-flex;
  position: relative;
  height: 460px;
  border-radius: 25px;
  top: auto;
  max-width: 95vw;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cardStyleSearch {
  // background: whitesmoke;
  cursor: pointer;
  user-select: none;
  display: block;
  width: 160px;
  height: 220px;
  background-size: 200px 260px;
  background-position: center;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid rgb(145, 145, 145);//#838181d5;
  top: auto;
  position: relative;
}
.descriptionPeopleSearch {
  position: relative;
  width: 148px;
  height: 30px;
  background: rgba(255, 255, 255,0.95);
  padding-top: 7px;
  padding-left: 12px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-right: 2px solid rgb(145, 145, 145);
  border-left: 2px solid rgb(145, 145, 145);
  border-bottom: 2px solid rgb(145, 145, 145);
  z-index: 1;
  text-align: left;
  font-size: 1.4em;
  font-weight: bold;
  color: rgb(73, 73, 73);
  font-family: monospace;
}
#cardStyle3Search {
  background-image: url("https://pa1.narvii.com/6505/929b3d87562c11209ef5474d80eac0fda673fc8d_00.gif");
  display: block;
  width: 360px;
  height: 500px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  border-radius: 26px;
  border: 2px solid rgb(145, 145, 145);
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
// .css-kjs6s9i-menu {
//   position: absolute !important;
//   z-index: 6;
// }
/*************************/

/******* Messenger *******/
#messContainer {
  position: relative;
  width: 90vw;
  height: 80vh;
  margin: auto;
  top: 12vh;
  background-color: whitesmoke !important;
  display: block;
  border: 1px solid #202020;
  border-radius: 10px;
  max-width: 1150px;
}
#firstLine {
  display: flex;
  width: 100%;
  height: 65px;
}
#myself {
  display: flex;
  // width: 12%;
  width: 87px;
  border-right: 1px solid rgb(222,222,222);
  border-bottom: 1px solid rgb(222,222,222);
  justify-content: space-around;
}
#currentConvGuy {
  display: inline-flex ;
  width: 88%;
}
#avatarDiv {
  vertical-align: middle;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  left: 18px !important;
  top: 8px;
}
#avatarDivCurrent {
  vertical-align: middle;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  position: absolute;
  left: 18px !important;
  top: 7px;
}
#discussText {
  margin-left: 30px;
  margin-top: 21px;
  font-size: 1.3em;
  margin-right: 0;
  letter-spacing: 2px;
}
#discussTextCurrent {
  position: relative;
  width: 10px !important;
  margin-left: 5px;
  margin-top: 15px;
  font-size: 1.3em;
  margin-right: 0;
  letter-spacing: 2px;
}
#DiscussConnected {
  margin-top: 0px;
  margin-left: 75px;
}
#currentConvGuy {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgb(222,222,222);
}
#secondLine {
  display: flex;
  width: 100%;
  height: -webkit-calc(100% - 66px);
  height: -moz-calc(100% - 66px);
  height:  calc(100% - 66px);
  // border-top: 1px solid red;
}
#convList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  // width: 12%;
  width: 87px;
  height: 100% !important;
  border-right: 1px solid rgb(222,222,222);
  align-content: flex-start;
}
.convListElems {
  display: flex;
  width: 100%;
  height: 70px;
  cursor: pointer;
}
.convListElems:hover {
  background: rgb(222,222,222);
}
.convListElems:active {
  outline: none;
}
.discussText2 {
  margin-left: 20px !important;
  margin-top: 25px !important;
  font-size: 1.3em !important;
  margin-right: 0 !important;
  letter-spacing: 2px !important;
}
.avatarDiv2 {
  vertical-align: middle;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  // margin-left: 18px !important;
 margin-left: 25%;
 margin-top: 8px;
}
#currentConv {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
#conversation {
  position: relative;
  width: 100%;
  height: 95%;
  overflow: auto;
}
#messageInputDiv {
  display: flex;
  position: relative;
  flex-direction: row !important;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  border-top: 1px solid rgb(222,222,222);
}
#sendMessage {
  width: 90%;
}
#messageInput {
  position: relative;
  width: 94%;
  height: 30px;
  font-size: 1.4em;
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
  padding-left: 10px;
  border: none;
  color: #5f5f5f;
  background: rgb(202, 202, 202);
  overflow: auto;
  resize: none;
}
#messageInput:focus{
  outline: none !important;
}
#blueConv {
  width: 40px !important;
  height: 40px;
  background:rgb(0, 120, 254);
  border-radius: 50px;
  margin-left: 5px !important;
  margin: 10px;
  color: #2b2b2b;
}

  /** Messages **/
.messages {
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.yours {
  align-items: flex-start;
}
.yours .message {
  margin-right: 25%;
  margin-left: 10px;
  background-color: rgb(228, 228, 228);
  position: relative;
}
.mine {
  align-items: flex-end;
  margin-right: 10px;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: rgb(0, 120, 254);
  position: relative;
}
/**************************/

.CarouselBackgroundSlider{
  height: 100vh;
}

.image1{
  width: 100%;
  height: 100vh;
}
.image3{
  width: 100%;
  height: 73.6vh !important;
}

.image2{
  width: 100%;
  height: 100vh;
}

.myprofileCarousel{
  position: relative;
  width: 100%;
  height: 73.6vh !important;
}
.myprofileCarousel div{
  height: 100%;
}
